extends layout/layout.pug
include mixins/item.pug
block main

    +item("путь к картинке", "<b>наш</b> заголовок 1")
    +item("путь к картинке", "заголовок 2")
    +item("путь к картинке", "заголовок 3")
        










